<div class="col-sm-4">
    <hr>
    <h2>Not Defterim</h2>
    <div class="mb-4">
        <input [(ngModel)]="baslik" class="form-control" placeholder="Başlık">
    </div>
    <div class="mb-4">
        <textarea [(ngModel)]="aciklama" class="form-control" placeholder="Açıklama"></textarea>
    </div>
  <button *ngIf="!status" (click)="insertData()" class="btn btn-success">Ekle</button>&nbsp;
  <button *ngIf="status" (click)="updateData(currentIndex)" class="btn btn-primary">Güncelle</button>
</div>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Not Numarası</th>
        <th scope="col">Not Başlık</th>
        <th scope="col">Not Açıklama</th>
        <th scope="col">Yapılabilecek İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of notes; let i = index;" >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{item['baslik']}}</td>
          <td>{{item['aciklama']}}</td>
          <td>
              <button (click)="selectData(i)" class="btn btn-primary btn-sm">Güncelle</button> &nbsp;
              <button (click)="deleteData(i)" class="btn btn-danger btn-sm">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>
